<%- include('../partials/header') %>


<!-- FLIGHT DETAILS -->
    <section id="show-page">
        <br><br>
        <div>Airline: 
            <%= flight.airline %>
        </div>
        <br><br>
        <div>Flight Number: 
            <%= flight.flightNo %>
        </div>
        <br><br>
        <div>Airport:   <%= flight.airport %>
        </div>
        <br><br>
        <div>Departs: 
            <%= flight.departs %>
        </div>
        <br><br>
        <div>Arrives:
            <%= flight.destinations %>
        </div>
    </section>





<!-- DESTINATION FORM -->
    <section>
        <br><br>
        <h2>Destination</h2>
        <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
            <!-- <label>Destination:</label> -->
            <select name="airport">
                <option value="AUS">AUS</option>
                <option value="DEN">DEN</option>
                <option value="DFW">DFW</option>
                <option value="LAX">LAX</option>
            </select>
            </label><br>
            <label>Arrival Time:
                <input type="datetime-local" name="departs">
            </label><br>
            <input type="submit" value="Add Flight">
        </form>
    </section>


    <%- include('../partials/footer') %>